@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Roboto&subset=cyrillic');

.submit-btn {
    margin: 8px 5px 7px 160px;
}

.submit-btn input {
    float: revert;
    background-color: darkslateblue;
    color: aliceblue;
    border: 1px solid darkslateblue;
    border-radius: 4px;
    padding: 2px 5px;
    font-family: 'Lora', serif;
    font-size: 18px;
    font-style: revert;
}

.submit-btn input:hover {
    background-color: mediumslateblue;
    transition: .2s;
}

.submit-btn input:hover:active {
    background-color: cornflowerblue;
    border: 0;
    transition: .5ms;
}

.submit-btn-rev {
    margin: 10px 15% 10px 80%;
}

.submit-btn-rev input {
    background-color: darkslateblue;
    color: aliceblue;
    border: 1px solid darkslateblue;
    border-radius: 4px;
    padding: 2px 5px;
    font-family: 'Lora', serif;
    font-size: 18px;
    font-style: revert;
}

.submit-btn-rev input:hover {
    background-color: mediumslateblue;
    transition: .2s;
}

.submit-btn-rev input:hover:active {
    background-color: cornflowerblue;
    border: 0;
    transition: .5ms;
}

.edit-btn {
    margin: 0;
    width: 10px;
}

.edit-btn button {
    border: 1px;
    background-color: inherit;
}

.edit-btn button:hover {
    background-color: #BBF7C5;
    transition: .45s;
}

.edit-btn button:hover:active {
    border: 0;
    background-color: lawngreen;
}
