@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Roboto&subset=cyrillic');

.general-form {
    position: relative;
    flex-basis: 300px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.general-form form {
    border: 4px double cornflowerblue;
    border-radius: 6px;
}

.date-label {
    padding: 2px 5px;
    font-family: 'Lora', serif;
    font-size: 18px;
    font-style: oblique;
    margin-left: 5px;
}

.date-input {
    float: right;
    margin: 0 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: revert;
}
